/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: #ccc;
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.9;

/* css styles */

.navbar a {
    color: white;
}

.navbar a:hover {
    color: $link-color;
}

code {
  background-color: transparent !important;
  color: $link-color !important;
}
